CLIENT_NAME=bluxury

# Optional – not needed if you use the license file above
# VISVA_API_KEYS=some-other-key

# If you want Slack alerts for PANIC/STARVING
ALERT_WEBHOOK_URL=https://hooks.slack.com/services/...

# HTTPS (if you have certificates)
SSL_KEYFILE=/certs/privkey.pem
SSL_CERTFILE=/certs/fullchain.pem